* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

body {
  background-image: url("./assets/justice.jpg");
  background-size: cover;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
/* ------------------------------ */
/* ---------- NAVBAR ------------ */
.container {
  background-color: #2B2922;
  color: #fff;
}

.logo {
  width: 100px;
  margin-top: 22px;
  margin-left: 100px;
}
.navbar div:nth-child(2) {
  position: absolute;
  top: 30px;
  right: 300px;
}

.list-item {
  list-style-type: none;
  display: inline-block;
  margin-left: 30px;
  font-weight: 100;
}

.list-item:hover {
  font-weight: 600;
  cursor: pointer;
}

.button-small {
  font-size: 16px;
  padding: 7px 20px;
  outline: none;
  border: 1px solid #70662D;
  border-radius: 8px;
  background-color: transparent;
  color: #70662D;
  font-weight: 600;
  position: absolute;
  top: 22px;
  right: 125px;
}
.button-small:hover {
  border: 1px solid #fff;
  background-color: #100F0F;
  color: #fff;
  cursor: pointer;
}

/* ------------------------------ */


/* ------------------------------ */
/* ---------- HERO ------------ */

.hero {
  width: 100vw;
}

.hero h1 {
  width: 50%;
  font-size: 50px;
  font-weight: 700;
  padding: 70px 100px;
}

.hero p {
  width: 50%;
  position: absolute;
  top: 60px;
  right: 0;
  padding: 100px 150px;
}

.hero .bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  background-color: #2B2922;
}

.bottom div {
  display: inline-block;
  height: 50px;
}
.bottom div div {
  height: 30px;
  width: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 20px;
  padding-top: 2px;
  margin: 10px 20px 0 10px;
  color: #fff;
  font-weight: 600;
}

.button-large-prev {
  background-color: #242B2E;
}

.button-large-next {
  background-color: #D9D55B;
}

/* ------------------------------ */
